* {
	box-sizing: border-box;
}

html,
body {
	height: 100%;
	overflow: auto;
}

body {
	background: linear-gradient(to bottom, #f4edff, #4500ff) fixed;
	display: flex;
	flex-direction: column;
	text-align: center;
}

/* -- header -- */
header {
	margin: 1rem auto;
	text-transform: uppercase;
}

.btn {
	width: 100px;
}

#bttnAll {
	background: linear-gradient(#a5ffa5, #ffce61);
}

.user-online,
#bttnOnline {
	background-color: #a5ffa5;
}

.user-offline,
#bttnOffline {
	background-color: #ffce61;
}

/* -- section -- */
section {
	flex: 1 0 auto;
}

.content {
	margin: 1rem auto;
	text-align: left;
	padding: 1rem;
}

.content img {
	border-radius: 5px;
	height: 5rem;
	margin-right: 1rem;
}

.content p {
	margin: auto;
}

/* -- footer -- */
footer {
	flex-shrink: 0;
	margin: 1rem auto;
}

footer p {
	margin: auto;
}
